.customFooter {
    background-color: #212529;
    margin-top: 15px;
    padding: 15px;
    color: white;
    font-size: .7rem;
}

.customFooter ul {
    text-align: left;
}

.customFooter li {
    display: inline-block;
    margin: 5px;
    font-size: 0.85rem;
}

.social-icon {
    color: #6c757d;
    margin: 5px;
}

.social-icon:hover {
    color: white;
}